<p-dialog header="Agregar Curso" [(visible)]="agregarDialog" [style]="{width: '50vw'}" [draggable]="false" [modal]="true"  [responsive]="true"
    styleClass="p-fluid">


    <ng-template pTemplate="content" >
        <div class="grid mb-3">
            <div class="col">
                <label for="nrc">NRC</label>
                <input pInputText pKeyFilter="int" class="mt-2"/>
            </div>
            <div class="col">
                <label for="curso">Curso</label>
                <div class="card mt-2">
                    <p-dropdown placeholder="Seleccione el curso" [editable]="true" optionLabel="name"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="grid mb-3">
            <div class="col">
                <label for="codigo">Código</label>
                <div class="card mt-2">
                    <p-dropdown placeholder="Seleccione el código" [editable]="true" optionLabel="name"></p-dropdown>
                </div>
            </div>
            <div class="col">
                <label for="profesor">Profesor</label>
                <div class="card mt-2">
                    <p-dropdown appendTo="body" [options]="profesores" [(ngModel)]="selectedProfesor" placeholder="Seleccione el profesor" [editable]="true" optionLabel="nombre"></p-dropdown>
                </div>
            </div>
        </div>

        <hr>

        <div class="grid mt-3 mb-3">
            <div class="col">
                <div class="card mt-2 ">
                    <p-dropdown appendTo="body" [options]="dias" [(ngModel)]="selectedDia" placeholder="Dias" [editable]="true" ></p-dropdown>
                </div>
            </div>
            <div class="col">
                <div class="card mt-2">
                    <p-dropdown placeholder="Hora Entrada" [editable]="true" optionLabel="name"></p-dropdown>
                </div>
            </div>
            <div class="col">
                <div class="card mt-2">
                    <p-dropdown placeholder="Hora Salida" [editable]="true" optionLabel="name"></p-dropdown>
                </div>
            </div>
        </div>

        <div class="grid justify-content-center">
            <button pButton pRipple type="button" icon="pi pi-plus"
                class="p-button-outlined p-button-rounded my-3">
            </button>
        </div>

        

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple  type="button" label="Guardar" icon="pi pi-check" class="p-button p-button-outlined p-button-rounded" 
            (click)="guardarCurso()">
        </button>
    </ng-template>
</p-dialog>